<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home Page</title>
</head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>

<div sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></div>

<div sec:authorize="isAnonymous()">Anonymous</div>


</body>
</html>